# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  skip:
    - "mypy"  # Skip mypy in CI, as it is run manually
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1 # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        args: [--config-file, pyproject.toml, --ignore-missing-imports]
        additional_dependencies:
          - torch
          - h5py
          - zarr
        pass_filenames: false
        stages: [manual]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: "https://github.com/citation-file-format/cffconvert"
    rev: "054bda51dbe278b3e86f27c890e3f3ac877d616c"
    hooks:
      - id: "validate-cff"
        args:
          - "--verbose"
  - repo: https://github.com/thoughtworks/talisman
    rev: 'v1.37.0'  # Update me!
    hooks:
      # both pre-commit and pre-push supported
      # -   id: talisman-push
      - id: talisman-commit
