name: Benchmarks report
on:
  workflow_dispatch:
    inputs:
      job_id:
        description: "Gitlab job id"
        required: true
        type: string

jobs:
  bench_report:
    name: Benchmark report
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: "Download artifact"
        run: |
          curl --location \
          --header "PRIVATE-TOKEN: ${{ secrets.GITLAB_TOKEN }}" \
          --output benchmarks.json \
          "https://codebase.helmholtz.cloud/api/v4/projects/7930/jobs/${{ inputs.job_id }}/artifacts/heat/bench_data/benchmarks.json"
      - name: Save benchmark result and update gh-pages-chart
        if: ${{github.ref == 'refs/heads/main'}}
        uses: benchmark-action/github-action-benchmark@v1
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          # Benchmark action input and output
          tool: "customSmallerIsBetter"
          output-file-path: benchmarks.json
          # Alert configuration
          fail-on-alert: true # Don't fail on main branch
          comment-on-alert: true
          # Save benchmarks from the main branch
          save-data-file: true
          # Pages configuration
          auto-push: true
          gh-pages-branch: gh-pages
          benchmark-data-dir-path: dev/bench
      - name: Compare benchmark result
        if: ${{github.ref != 'refs/heads/main'}}
        uses: benchmark-action/github-action-benchmark@v1
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          # Benchmark action input and output
          tool: 'customSmallerIsBetter'
          output-file-path: perun_benchmarks.json
          # Alert configuration
          fail-on-alert: true
          comment-on-alert: true
          summary-always: true
          # Ignore results from non main branches.
          save-data-file: false
          # Pages configuration
          auto-push: false
          gh-pages-branch: gh-pages
          benchmark-data-dir-path: dev/bench
