name: 'Update Changelog'

on:
  release:
    types: [released]

permissions:
  contents: read

jobs:
  update-changelog:
    permissions:
      contents: write  # for stefanzweifel/git-auto-commit-action to push code in repo
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: helmholtz-analytics/heat
          ref: ${{ github.event.release.target_commitish }}
      - name: Update Changelog
        run: |
          echo $RELEASE_TITLE > cl_title.md
          echo "$RELEASE_BODY" > cl_new_body.md
          echo "" > newline.txt
          cat cl_title.md newline.txt cl_new_body.md newline.txt CHANGELOG.md > tmp
          mv tmp CHANGELOG.md
          rm cl_title.md
          rm cl_new_body.md
          rm newline.txt
          cat CHANGELOG.md
        env:
          RELEASE_TITLE: ${{ format('# {0} - {1}', github.event.release.tag_name, github.event.release.name) }}
          RELEASE_BODY: ${{ github.event.release.body }}
      - name: Create PR
        uses: peter-evans/create-pull-request@8867c4aba1b742c39f8d0ba35429c2dfa4b6cb20 # v7.0.1
        with:
            base: main
            branch: post-release-changelog-update
            delete-branch: true
            token: ${{ secrets.GITHUB_TOKEN }}
            commit-message: Update Changelog post release
            title: Update Changelog post release
            body: |
              This PR updates the changelog post release.

              Changed files should include an updated CHANGELOG.md containing the release notes from the latest release.

            reviewers: ClaudiaComito, mtar, JuanPedroGHM
            labels: chore, github_actions
