name: ci

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  approved:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        py-version:
          - '3.10' # Oldest supported
          - '3.14' # Latest stable
        mpi: [ 'openmpi' ]
        install-options: [ '.', '.[hdf5,netcdf,pandas,zarr]' ]
        pytorch-version:
          - 'torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1'   # Oldest supported
          - 'torch==2.9.1 torchvision==0.24.1 torchaudio==2.9.1'   # JSC Stage 2026
          - 'torch==2.10.0 torchvision==0.25.0 torchaudio==2.10.0' # Latest stable
        exclude:
          - py-version: '3.10'
            install-options: '.[hdf5,netcdf,pandas,zarr]'
          - py-version: '3.14'
            pytorch-version: 'torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1'

    name: Python ${{ matrix.py-version }} with ${{ matrix.pytorch-version }}; options ${{ matrix.install-options }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup MPI
        uses: mpi4py/setup-mpi@3969f247e8fceef153418744f9d9ee6fdaeda29f # v1.2.0
        with:
          mpi: ${{ matrix.mpi }}

      - name: Use Python ${{ matrix.py-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.py-version }}
          architecture: x64

      - name: Test
        run: |
          pip install pytest
          pip install ${{ matrix.pytorch-version }} ${{ matrix.install-options }} --extra-index-url https://download.pytorch.org/whl/cpu
          mpirun -n 3 pytest -vv -x heat/
          mpirun -n 4 pytest -vv -x heat/
