name: Start CI Run

on:
  push:
    branches:
      - 'main'
      - 'stable'

permissions:
  contents: read

jobs:
  starter:
    runs-on: ubuntu-latest
    if: ${{ !github.event.repository.fork }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Get branch names
        id: branch-names
        uses: tj-actions/branch-names@5250492686b253f06fa55861556d1027b067aeb5 # v9.0.2
      - name: 'start test'
        run: |
         curl -s -X POST \
           --fail \
           -F token=${{ secrets.CB_PIPELINE }} \
           -F "ref=heat/base" \
           -F "variables[SHA]=$GITHUB_SHA" \
           -F "variables[GHBRANCH]=${{ steps.branch-names.outputs.current_branch }}" \
           https://codebase.helmholtz.cloud/api/v4/projects/7605/trigger/pipeline -o /dev/null
