name: Start CI Support Run

on:
  push:
    branches:
      - 'support/**'

jobs:
  starter:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Get branch names
        id: branch-names
        uses: tj-actions/branch-names@5250492686b253f06fa55861556d1027b067aeb5 # v9.0.2
      - name: 'start test'
        run: |
         curl -s -X POST \
           --fail \
           -F token=${{ secrets.CB_PIPELINE }} \
           -F "ref=heat/support" \
           -F "variables[SHA]=$GITHUB_SHA" \
           -F "variables[GHBRANCH]=${{ steps.branch-names.outputs.current_branch }}" \
           https://codebase.helmholtz.cloud/api/v4/projects/7605/trigger/pipeline -o /dev/null
