name: Start CI Support Run

on:
  push:
    branches:
      - 'support/**'

jobs:
  starter:
    runs-on: ubuntu-latest
    steps:
      - name: 'start test'
        run: |
         curl -s -X POST \
           --fail \
           -F token=${{ secrets.CB_PIPELINE }} \
           -F "ref=heat/support" \
           -F "variables[SHA]=$GITHUB_SHA" \
           https://codebase.helmholtz.cloud/api/v4/projects/7605/trigger/pipeline -o /dev/null