name: Create branch on assignment

on:
  # The issues event below is only needed for the default (auto) mode,
  # you can remove it otherwise
  issues:
    types: [ assigned ]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f086349bfa2bd1361f7909c78558e816508cdc10 # v2.8.0
        with:
          egress-policy: audit

      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@c3c2e373600593f5496ffc40d2d576b95fcdfaa2 # main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
