name: Create branch on assignment

on:
  # The issues event below is only needed for the default (auto) mode,
  # you can remove it otherwise
  issues:
    types: [ assigned ]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@0a46687cc518bae43c869ca99e27b0601544fe95 # main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
