name: 'Build and upload Docker img'
on:
    workflow_dispatch:
        inputs:
            heat_version:
                description: 'Heat version'
                required: true
                default: 'latest'
                type: string
            pytorch_img:
                description: 'Base PyTorch Img'
                required: true
                default: '23.05-py3'
                type: string
            name:
                description: 'Output Image name'
                required: true
                default: 'heat:1.3.0_torch2.0.0_cu12.1'
                type: string
permissions:
  contents: read

jobs:
    build-and-push-img:
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
              with:
                egress-policy: audit

            -
              name: Checkout
              uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
            -
              name: Set up QEMU
              uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3.0.0
            -
              name: Set up Docker Buildx
              uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0
              with:
                driver: docker
            -
              name: Login to GitHub Container Registry
              uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
              with:
                registry: ghcr.io
                username: ${{ github.repository_owner }}
                password: ${{ secrets.GITHUB_TOKEN }}
            -
              name: Build
              uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4.2.1
              with:
                file: docker/Dockerfile.release
                build-args: |
                    HEAT_VERSION=${{ inputs.heat_version }}
                    PYTORCH_IMG=${{ inputs.pytorch_img}}
                load: true
                tags: |
                  test_${{ inputs.name }}
            -
              name: Test
              run: |
                docker images
                docker run -v `pwd`:`pwd` -w `pwd` --rm test_${{ inputs.name }} pytest
            -
              name: Build and push
              uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4.2.1
              with:
                file: docker/Dockerfile.release
                build-args: |
                    HEAT_VERSION=${{ inputs.heat_version }}
                    PYTORCH_IMG=${{ inputs.pytorch_img}}
                push: true
                tags: |
                  ghcr.io/helmholtz-analytics/${{ inputs.name }}
