name: Support latest PyTorch

on:
  workflow_call:
    inputs:
      working_branch:
        required: true
        type: string
      base_branch:
        required: true
        type: string
permissions:
  contents: write
  issues: write
  pull-requests: write
jobs:
  latest-torch-support:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2.9.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id:
          create-issue
        with:
          filename: .github/ISSUE_TEMPLATE/support_latest_pytorch.md
          milestone: 1
          update_existing: true
          search_existing: open
      - name: Check out new branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: '${{ inputs.working_branch }}'
      - name: Set env variables
        run: |
          echo "previous_pytorch=$(grep 'torch~=' pyproject.toml | awk -F '<' '{print $2}' | tr -d '",')" >> $GITHUB_ENV
          echo "new_pytorch=$(<.github/pytorch-release-versions/pytorch-latest.txt)"  >> $GITHUB_ENV
      - name: Increment version
        run: |
          chmod +x .github/workflows/increment_version.sh
          echo "setup_pytorch=$(.github/workflows/increment_version.sh ${{ env.new_pytorch }})" >> $GITHUB_ENV
      - name: Update pyproject.toml
        run: |
          sed -i '/torch~=/ s/'"${{ env.previous_pytorch }}"'/'"${{ env.setup_pytorch }}"'/g' pyproject.toml
      - name: Create PR from branch
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
            base: ${{ inputs.base_branch }}
            branch: ${{ inputs.working_branch }}
            delete-branch: true
            token: ${{ secrets.GITHUB_TOKEN }}
            commit-message: Support latest PyTorch release
            title: Support PyTorch ${{ env.new_pytorch }}
            body: |
              Run tests on latest PyTorch release
              Issue/s resolved: #${{ steps.create-issue.outputs.number }}
              TODO:
              - [ ] update `.github/workflows/ci.yaml` to include latest Pytorch version
              - [ ] update Nvidia and AMD Docker images on gitlab CI
              Auto-generated by [create-pull-request][1]
              [1]: https://github.com/peter-evans/create-pull-request
            reviewers: ClaudiaComito, mtar, mrfh92
            labels: backport stable, interoperability
            draft: true
