name: Markdown Links Check
# runs every monday at 9 am
on:
  schedule:
    - cron: "0 9 * * 1"

permissions:
  contents: read

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # master
      - uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368 # v1
        # checks all markdown files from root but ignores subfolders
        # By Removing the max-depth variable we can modify it -> to check all the .md files in the entire repo.
        with:
          use-quiet-mode: 'yes'
          # Specifying yes to show only errors in the output
          use-verbose-mode: 'yes'
          # Specifying yes to show detailed HTTP status for checked links.
          max-depth: 0
