name: Receive PR

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'heat/**'

jobs:
  build:
    if: ${{ !startsWith(github.head_ref, 'support/') && (github.event.pull_request.draft == false) }}
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - uses: actions/checkout@v4.1.3

      - name: Use Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: 3.8
          architecture: x64

      - name: Setup MPI
        uses: mpi4py/setup-mpi@6a613585a050ccc1da558f1539c2fa5fe9b1d44e # v1.2.2
        with:
          mpi: openmpi

      - name: Test
        run: |
          pip install .[dev]
          pre-commit run --all-files
          python -m unittest

      - name: Save PR number
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          mkdir -p ./pr
          echo $PR_NUMBER > ./pr/pr_number
      - uses: actions/upload-artifact@1746f4ab65b179e0ea60a494b83293b640dd5bba # v4.3.2
        with:
          name: pr_number
          path: pr/
