name: Receive PR

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'heat/**'

jobs:
  build:
    if: ${{ !startsWith(github.head_ref, 'support/') && (github.event.pull_request.draft == false) }}
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Use Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.10'
          architecture: x64

      - name: Setup MPI
        uses: mpi4py/setup-mpi@3eef4c7b925e108e534a3856830963dedefac76f # v1.3.3
        with:
          mpi: openmpi

      - name: Test
        run: |
          pip install .[dev]
          pre-commit run --all-files
          python -m unittest

      - name: Save PR number
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          mkdir -p ./pr
          echo $PR_NUMBER > ./pr/pr_number
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pr_number
          path: pr/
