name: Receive PR

on:
  pull_request:
    paths:
      - 'heat/**'

jobs:
  build:
    if: ${{ !startsWith(github.head_ref, 'support/') && (github.event.pull_request.draft == false) }}
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - uses: actions/checkout@v4.1.1

      - name: Use Python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: 3.8
          architecture: x64

      - name: Setup MPI
        uses: mpi4py/setup-mpi@40c19a60792debf8ca403a3e6ee5f84c4e76555d # v1.2.1
        with:
          mpi: openmpi

      - name: Test
        run: |
          pip install .[dev]
          pre-commit run --all-files
          python -m unittest

      - name: Save PR number
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          mkdir -p ./pr
          echo $PR_NUMBER > ./pr/pr_number
      - uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: pr_number
          path: pr/
